body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  text-align: center;
  font-family: "Edu SA Beginner", cursive;
  font-size: 2.5em;
  margin-bottom: 25px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.vending-container {
  position: relative;
}

.products {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 14%;
  bottom: 38%;
  left: 21%;
  right: 35%;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16.5%;
  bottom: 78%;
  left: 69%;
  right: 20.5%;
  color: black;
  background-color: white;
  font-size: 1.5vw;
  font-weight: bold;
}

.reset-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 51.6%;
  bottom: 46%;
  left: 69.8%;
  right: 21.5%;
  background-color: white;
  font-size: 1vw;
}

.product-image {
  max-width: 100%;
}

.vending-machine {
  display: block;
  max-width: 620px;
  width: 100%;
  flex-shrink: 1;
  margin: 0 auto;
}

.coins {
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  margin: 0 20px;
}

.coin {
  transition: all 0.5s;
  max-width: 100%;
  height: auto;
}

.coin:hover,
.coin:focus {
  transform: scale(1.05);
}

.button-coin {
  max-width: 100px;
}

.button-coin,
.button-product,
.reset-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button-coin.spinning {
  animation: spin 0.3s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button-product:hover {
  background: white;
}

.button-product:active {
  background: greenyellow;
}

@media screen and (max-width: 620px) {
  .main-container {
    display: block;
  }
  .coins {
    flex-direction: row;
  }
  .display,
  .reset-button {
    font-size: 3vw;
  }
}
